---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest

ColumnLimit: 100
IndentWidth: 4
AccessModifierOffset: -4
ContinuationIndentWidth: 4

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
QualifierAlignment: Right

AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

AlwaysBreakTemplateDeclarations: Yes
PackConstructorInitializers: NextLine
BreakBeforeBraces: Attach

InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SeparateDefinitionBlocks: Always

Cpp11BracedListStyle: true
SpacesBeforeTrailingComments: 1
